[Unit]
Description=accountability software

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/dane/Documents/Git/basheba/basheba.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
